<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="External" connectionString="server = sofscript-pc\pgh;database = CareWorksWeb;uid = Sa;pwd = Creative"/>
    <add name="Internal" connectionString="server = sofscript-pc\pgh;database = CareWorksWeb;uid = Sa;pwd = Creative"/>
    <add name="SuperUser" connectionString="server = sofscript-pc\pgh;database = CareWorksWeb;uid = Sa;pwd = Creative"/>
    <add name="Admin" connectionString="server = sofscript-pc\pgh;database = CareWorksWeb;uid = Sa;pwd = Creative"/>
  </connectionStrings>

  <appSettings>
    <add key="LoginPath" value="http://localhost/cwweb/MainLoginAsp/Pages/login.aspx" />
    <add key="Images_serverpath" value="http://localhost/cwweb/Images"/>
    <add key="MainLoginIconBasePath" value="~/Images/"/>
    <add key="CSS_serverpath" value="http://localhost/cwweb/CSS"/>
    <add key="ClientImg" value="http://localhost/cwweb/Images/SofPro.ico"/>
    <add key="SofImg" value="http://localhost/cwweb/Images/sof.png"/>
    <add key="BaseAppPath" value="http://localhost/cwweb/" />
    <add key="BottomText" value="@ 2013 Sofscript System &amp; Services Ltd."/>
    <!--anamika 20130920-->
    <add key="BaseAppPath" value="http://localhost/cwweb/"/>
    <add key="HasPassword"  value="N"/>
    <!--Pushpa 20180508-->
    <add key="dispPatienthelppage" value="15"/>
    <add key="Patienthelppagesize" value="10"/>
    <!--end-->


    <add key="Script_serverpath" value="http://localhost/CWWeb/Scripts"/>
    <!--<add key="CSS_serverpath" value="http://localhost/CWWeb/CSS"/>-->
    <add key="IsCWDebugModeOn"  value="Y" />
  </appSettings>


  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" >
      <assemblies>
        <!--<add assembly="AjaxControlToolkit, Version=3.0.30930.28736, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>-->
        <!--<add assembly="CWCommonLib, Version=1.0.0.7, Culture=neutral, PublicKeyToken=652d9fba00c5f11f"/>-->
        <!--<add assembly="AjaxControlToolkit, Version=3.0.30930.28736, Culture=neutral, PublicKeyToken=28F01B0E84B6D53E"/>-->
        <!--<add assembly="AjaxControlToolkit, Version=15.1.4.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>-->
      </assemblies>

    </compilation>
    <httpRuntime targetFramework="4.0"  />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_iCmnSecurityFun" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_iIpPostVoucher" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_iOTScheduling" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/CWWEBWCFSPLIT/CommonSecurityFunc/CmnSecurityFun.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iCmnSecurityFun"
        contract="CmnSecurityFunSrvRef.iCmnSecurityFun" name="BasicHttpBinding_iCmnSecurityFun" />
      <endpoint address="http://localhost:50875/IpPostVoucher.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iIpPostVoucher"
        contract="IpPostVoucherServiceReference.iIpPostVoucher" name="BasicHttpBinding_iIpPostVoucher" />
      <endpoint address="http://localhost:55278/OTScheduling.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_iOTScheduling" contract="OTSchedulingSerRef.iOTScheduling"
        name="BasicHttpBinding_iOTScheduling" />
    </client>
  </system.serviceModel>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>

</configuration>
