<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- 
     <add name="Admin" connectionString="ookHVbx/omDASvNNWjmoZLPt2bRv2FvhTYwFbGAvfHfENX57tLPJo37bU58ojfAdLwn329hCoQ1zoSjTT5sEEgw5sI/m3uzdmy4F+x/cOBh+FWcXn/GOn3GDk2IYVFY74"/>
     <add name="Admin" connectionString="RTbLaax8JXwuibCwWZn6G3aE+A0WlAVmzZANMTVwMbqptnb/QJGV56LEQejtzbyL7GMQ+5xqcRCH40w8/OBWFcpBPku9G8s8XPl55lwUc8E="
     
     "/> -->
    <!-- SERVER / WEB -->
    <!--<add name="Admin" connectionString="RTbLaax8JXwuibCwWZn6G3aE+A0WlAVmzZANMTVwMbqptnb/QJGV56LEQejtzbyL7GMQ+5xqcRCH40w8/OBWFcpBPku9G8s8XPl55lwUc8E="/>-->
    <add name="Admin" connectionString="tS0mtsc8IXIpaPiuBC42epfcQXnn6jhWbxj6Nm1dT39XHJiuWDHnJ/nahAGVWSdRU3FM8BuZsDKNyUMwMOwbRO9wBLZ+7fDzUteoo4opgJ0="/>
    <!--<add name="Admin" connectionString="tS0mtsc8IXIpaPiuBC42eljs6JQCc/fHCi50SDXDTjB6vwfS6zB80Kj3JOxCO7RL/f+DqasViPQrrwEsb9mrFGWkdR65JKVMXkhhr2G+Zw0zlr1gZyjKyPPxWyF+mOJY"/>-->
    <!--<add name="Admin" connectionString="tS0mtsc8IXIpaPiuBC42elYRis5d68Yv4SQmd9mINCd38lRmB+WrrgBsDbARXtotOR3gouRQ6/bi+9cmUiFmRsW+5NUSF6HaFPsnOxCaFzA="/>-->
    <!-- SOFSCRIPT-VM76\FORTISJK  -->
    <!--  <add name="Admin" connectionString="tS0mtsc8IXIpaPiuBC42elYRis5d68Yv4SQmd9mINCd38lRmB+WrrgBsDbARXtotOR3gouRQ6/bi+9cmUiFmRsW+5NUSF6HaFPsnOxCaFzA="/> -->
    <!--<add name="HospitalConnectionString" connectionString="Data Source=server\cwweb;Initial Catalog=SOFCWHMIS;Persist Security Info=True;User ID=sa;Password=Creative" providerName="System.Data.SqlClient"/>-->
    <!--20-surana
    <add name="Admin" connectio
    nString="tS0mtsc8IXIpaPiuBC42eljs6JQCc/fHCi50SDXDTjB6vwfS6zB80Kj3JOxCO7RL/f+DqasViPQrrwEsb9mrFGWkdR65JKVMXkhhr2G+Zw0zlr1gZyjKyPPxWyF+mOJY"/-->
  </connectionStrings>
  <appSettings>
    <!--anamika 20131205-->
    <add key="ReportServerUserName" value="admin"/>
    <add key="ReportServerPassWord" value="sofcare"/>
    <add key="MedicalImgPath" value="\\192.168.2.20\shalbyiis\CLIENTR2\MedicalRecordImages\"/>
    <!--anamika 20131231-->
    <add key="LabTestRptPath" value="http://192.168.2.20/CWshalby/LabTestPdf/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en-GB" culture="en-GB"/>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true"/>
    <httpRuntime maxRequestLength="262144" executionTimeout="103600"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messagelistener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="E:\Logs\myMessges1.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="5000" maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="PatientBindingConfig" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://192.168.0.101/"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsDoctorsOrder">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iDoctorsOrder">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.commonFunctions">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.icommonFunctions">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsCOMPANYMST">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iCOMPANYMST">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsPatient">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="PatientBindingConfig" contract="WcfServices.iPatient">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsDoctor">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iDoctor">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsDCTAVLAPP">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iDCTAVLAPP">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsDCTBKDAPP">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iDCTBKDAPP">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.CWFactory">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iCWFactory">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!--anamika 20131028-->
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsIpPostVoucher">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iIpPostVoucher">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsAttachDocShrSrv">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iAttachDocShrSrv">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfServices.bclsMainLogin">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServices.iMainLogin">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--ADDED FOR HUGE WCF DATA -->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
          <!--anamika 20160511-->
        </behavior>
        <behavior name="Test.WebHost.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
        <add name="Access-Control-Max-Age" value="1728000"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--anamika 20160511-->
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  <!--anamika 20160511-->
</configuration>