#scrollbar1 { width: 1329px; clear: both; margin: 10px 6px 10px;  border:1px solid #4f6b72; }
#scrollbar1 .viewport { width: 1329px; height: 357px; overflow: auto; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 7px; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 10%; width:13px; position: relative; padding: 0 1px;  }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

       