* {margin:0; padding:0; font:12px Verdana,Arial}
code {font-family:"Courier New",Courier}

#options {width:1300px; margin:5px auto; text-align:right; color:#9ac1c9}
#options a {text-decoration:none; color:#9ac1c9}
#options a:hover {color:#033}

#acc {width:1300px; list-style:none; color:#033; margin:0 auto 2px}
#acc h3 {width:1285px; border:1px solid #9ac1c9; padding:4px 6px 6px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(../Images/header.gif)}
#acc h3:hover {background:url(../Images/header_over.gif)}
#acc .acc-section {overflow:hidden; background:#fff}
#acc .acc-content {width:99%; padding:5px; border:1px solid #9ac1c9; border-top:none; background:#fff}

#nested {width:1283px; list-style:none; color:#033; margin-bottom:8px; margin-left:3px;}
#nested h3 {width:1268px; border:1px solid #9ac1c9; padding:4px 6px 6px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(../Images/header.gif)}
#nested h3:hover {background:url(../Images/header_over.gif)}
#nested .acc-section {overflow:hidden; background:#fff}
#nested .acc-content {width:99%; padding:5px; border:1px solid #9ac1c9; border-top:none; background:#fff}
#nested .acc-selected {background:url(../Images/header_over.gif)}

#nestedCompo {width:1283px; list-style:none; color:#033; margin-bottom:8px; margin-left:3px;}
#nestedCompo h3 {width:1268px; border:1px solid #9ac1c9; padding:4px 6px 6px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(../Images/header.gif)}
#nestedCompo h3:hover {background:url(../Images/header_over.gif)}
#nestedCompo .acc-section {overflow:hidden; background:#fff}
#nestedCompo .acc-content {width:99%; padding:5px; border:1px solid #9ac1c9; border-top:none; background:#fff}
#nestedCompo .acc-selected {background:url(../Images/header_over.gif)}

#nestedCost {width:1283px; list-style:none; color:#033; margin-bottom:8px; margin-left:3px;}
#nestedCost h3 {width:1268px; border:1px solid #9ac1c9; padding:4px 6px 6px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(../Images/header.gif)}
#nestedCost h3:hover {background:url(../Images/header_over.gif)}
#nestedCost .acc-section {overflow:hidden; background:#fff}
#nestedCost .acc-content {width:99%; padding:5px; border:1px solid #9ac1c9; border-top:none; background:#fff}
#nestedCost .acc-selected {background:url(../Images/header_over.gif)}

.rounded-corners 
         {
            /*FOR OTHER MAJOR BROWSERS*/
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -khtml-border-radius: 5px;
            border-radius: 5px;
            /*FOR IE*/
            behavior: url(border-radius.htc);
        }

